body.mold {
  .btn, .btn-md, .btn-lg {
    color: $white;
    background-color: $mold;
    border: 0 !important;
    &:focus {
      color: $white;
      background-color: $mold;
    }
    &:hover {
      color: $white;
      background-color: darken($mold, 10%);
    }
    &:active {
      color: $white;
      background-image: none;
      background-color: darken($mold, 20%);
    }
    &:active:hover {
      color: $white;
      background-color: darken($mold, 10%);
    }
  }
  .bg_img {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(67, 165, 162, 0.9)), to(rgba(67, 165, 162, 0.9))), url(../images/template/bg.png);
    background: linear-gradient(to top, rgba(67, 165, 162, 0.9), rgba(67, 165, 162, 0.9)), url(../images/template/bg.png);
    background-size: cover;
    color: #FFF;
    .btn, .btn-md, .btn-lg {
      color: $gray;
      background-color: $white;
      border: 0 !important;
      &:focus {
        color: $gray;
        background-color: $white;
      }
      &:hover {
        color: $gray;
        background-color: darken($white, 10%);
      }
      &:active {
        color: $gray;
        background-image: none;
        background-color: darken($white, 20%);
      }
      &:active:hover {
        color: $gray;
        background-color: darken($white, 10%);
      }
    }
  }
  .featured-list-bordered {
    li {
      padding-left: 65px;
      position: relative;
      list-style: none;
      padding: 0;
      text-align: left;
      min-height: 44px;
    }
    &-icon {
      width: 44px;
      height: 44px;
      border: 1px solid $mold;
      line-height: 44px;
      color: $mold;
      font-size: 30px;
    }
  }
  .marker:before {
    background: $mold;
  }
  .method_title *{color: $mold;}
  .border{
    border: 1px solid $mold;
    &-md{
      border: 3px solid $mold;
    }
    &-lg{
      border: 5px solid $mold;
    }
  }
  .b-footer, .b-footer *, .b-footer *:hover {
    background-color: $mold;
    color: $white;
  }
}